*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 188, 89);
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    margin: 15px;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 850px;
    margin-top: 15px;
}
.window{
    height: 40px;
    width: 80%;
    display: flex;
}
#genres{
    width: 10%;
    height: inherit;
}
#menu{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(190, 253, 168);
    border: 1px solid black;
    border-left: 0;
    cursor: pointer;
}
#create{
    height: 50px;
    width: 30%;
    background-color: rgb(190, 253, 168);
    font-family: "Montserrat", sans-serif;
    border: solid 1px black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
}
#menu:hover, #create:hover{
    background-color: rgb(152, 251, 116);
}
input{
    width: 90%;
    font-family: "Montserrat", sans-serif;
    font-size: 150%;
    background-color: whiite;
    border: 1px solid black;
    border-right: 0;
    outline:none;
    padding-left: 5px;
}
p{
    margin-top: 20px;
    height: 80%;
    width: 80%;
}
textarea{
    font-family: "Montserrat", sans-serif;
    font-size: 130%;
    height: 100%;
    width:100%;
    resize: none;
    outline:none;
    border: 1px solid black;
    padding: 10px;
}
.menu_btn{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(225, 255, 216);
    cursor: pointer;
    border: 1px black solid;
    border-top: 0;
}
#div{
    height: 100%;
}
#err{
    width: 80%;
    margin: auto;
}
#err_text{
    color:rgb(253, 89, 89);
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}
#quit{
    left: 11%;
    top: 3%;
    width:6%;
    height: 3%;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 130, 108);
    cursor: pointer;
    border: 1px black solid;
    border-radius: 15px;
}
#quit:hover{
    background-color: rgb(252, 87, 57);
}
#welldone{
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    top: 30%;
    height: 30%;
    width: 45%;
    padding-bottom: 30px;
}
.hooray{
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    margin: auto;
    margin-top: 30px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
#back, #new{
   width: 30%;
   height: 30px;
   cursor: pointer;
   border: 1px black solid;
   border-radius: 15px;
   font-family: "Montserrat", sans-serif;
}
#back{
    background-color: rgb(255, 130, 108);
}
#back:hover{
    background-color: rgb(252, 87, 57);
}
#new{
    background-color: rgb(190, 253, 168);
}
#new:hover{
    background-color: rgb(152, 251, 116);
}